.main {
    width: 98%;
    height: 80vh;
    margin: 30px auto;;
    border-radius: 10px;
    background: white;
    -webkit-box-shadow: 0 5px 10px 2px rgba(34, 60, 80, 0.2);
    -moz-box-shadow: 0 5px 10px 2px rgba(34, 60, 80, 0.2);
    box-shadow: 0 5px 10px 2px rgba(34, 60, 80, 0.2);
}

.mainContainer {
    width: 100%;
    height: 90%;
    margin: 0 auto;
    border-radius: 10px;
    background: white;
    overflow: auto;
}

.pagination {
    position: sticky;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1%;
}

.pagination .text {
    opacity: 0.6;
    font-size: 1.3rem;
}

.page {
    height: 2rem;
    width: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    border: solid 0.1rem #1c1e21;
    border-radius: 0.7rem;
    cursor: pointer;
}

.page.active,
.page:hover {
    background-color: #c7c6c6;
}

.select {
    font-weight: bold;
    border-radius: 0.7rem;
    position: relative;
    outline: none;
    padding: 7px;
}

@media screen and (max-width: 470px) {
    .pagination .text {
        opacity: 0.6;
        font-size: .7rem;
    }

    .select {
        padding: 0;
    }

    .page {
        height: 1rem;
        width: 1rem;
    }
}